/*-----------------------General Styles--------------------------*/
* {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 15px 2px 15px;
    height: 36px;
    width: auto;
    align-items: center;
    border-top: 1px solid rgb(189, 187, 187);
    border-bottom: 1px solid rgb(189, 187, 187);
}

.main {
    text-align: center;
    
}

.footer{
    clear: both;
    display: flex;
    flex-direction: column;
    margin: 5px;
}

/*-----------------------------Header-------------------------------*/
.header-title h1 {
    font-size: 28px;
}

.header-btns button {
    background-color: #567b95;
    color: white;
    border-radius: 4px;
    border: none;
    width: fit-content;
    height: 35px;
    padding: 0 15px 0 15px;
    
    
}
.header-menu img {
    width: 16px;
    height: 16px;
    padding: 8px 9px 9px 9px;
}

.header-menu:hover, .header-btns button:hover, .header-title:hover {
    cursor: pointer;
}

/*--------------------------Main------------------------------*/

.main-containner {
    width: 1175px;
    border: 1px solid red;
    float: left;
    text-align: center;
    margin: auto;
}
.article-container {
    margin: 20px 190px 0;
}

.editor-picks {
    float: right;
    border: 1px solid red;
    margin-top: 100em;
}

.article-title-container {
    width: 982px;
    padding: 40px 20px 20px 30px;
}
.article-title-container p {
    text-align: start;
}

/*------------------------Editor's Picks----------------------*/

/*------------------------Footer------------------------------*/
.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-title a {
    align-self: flex-end;
    margin: 10px;
}

.footer-disclaimer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    margin: 5px;
}

